---
http_interactions:
- request:
    method: post
    uri: https://www.linkedin.com/oauth/v2/accessToken
    body:
      encoding: UTF-8
      string: grant_type=authorization_code&code=AQTySHauLjbQ_2vZrVF2Ku9J7AiN3Jy0p2nmGHcn87LwTEIqiPg2MFSvaXR_O7BdGydFPy7icoftrohKv9dTu_vhFz_-Jyyx5kZkTtien_jCkmHfEwiPf0UFAgIqtF6IeR98W1OD6A0icymotpEoivXi6d9fy6gvrPatvQb3&redirect_uri=http%3A%2F%2Flocalhost%3A1234%2Foauth%2Flinkedin%2Ffetch_user_data&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>
    headers:
      Content-Type: application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: application/json; charset=utf-8
      X-Fs-Uuid: e43d68ba90685215c0df9235e72a0000
      X-Li-Fabric: prod-lor1
      X-Li-Proto:
      - http/1.1
      - http/1.1
      X-Li-Pop: prod-efr5
      X-Li-Uuid: 30QtupBoUhUg6Rvb5SoAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "AQW2pTuclxutW03no5blWiIpvvhhqARninrBytNkSKO28e9XqqmiQKYFeYkkdE0hN4yGH88UXtpiboGBBbCRgigDv8oIRqnuNbU0za6WHdZXUdXSGQrz3UcmYycd59i3bk0fNshcntMK6Kf-ZFBInIx_1kgOo9HO6WmbmqJrczlJzcjvmqxoy8Yjmw_cO6MXjAP6qgL6b8E6QacJMOQluSLNOwEXUElxXyfms--WBIcPEGP2mOBKAHvIepMDBFSM7Z0hN7ECZs_xV7iIyqsr9pRbpUXMY06M_DgcY1vt6f_JJD8CtOuLPwHDIMBWnEGg6KD_RRLeU9c-wMqkxFFM_V6_rTys8w",
          "expires_in": 5183999
        }
  recorded_at: Sat, 08 Sep 2018 11:16:34 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~:(id,email-address)?format=json&oauth2_access_token=AQW2pTuclxutW03no5blWiIpvvhhqARninrBytNkSKO28e9XqqmiQKYFeYkkdE0hN4yGH88UXtpiboGBBbCRgigDv8oIRqnuNbU0za6WHdZXUdXSGQrz3UcmYycd59i3bk0fNshcntMK6Kf-ZFBInIx_1kgOo9HO6WmbmqJrczlJzcjvmqxoy8Yjmw_cO6MXjAP6qgL6b8E6QacJMOQluSLNOwEXUElxXyfms--WBIcPEGP2mOBKAHvIepMDBFSM7Z0hN7ECZs_xV7iIyqsr9pRbpUXMY06M_DgcY1vt6f_JJD8CtOuLPwHDIMBWnEGg6KD_RRLeU9c-wMqkxFFM_V6_rTys8w
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id: 5XUZVJWVSD
      X-Li-Format: json
      Content-Type: application/json;charset=UTF-8
      X-Li-Fabric: prod-lor1
      X-Li-Pop: prod-tln1
      X-Li-Proto: http/1.1
      X-Li-Route-Key: '"b=OB90:g=982:u=4:i=1536405395:t=1536488312:s=AQFGm_gKKNBXk2h2eRtj3PW9rtxAVGsj"'
      X-Li-Uuid: NQTLCJFoUhVgkG1OlisAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "emailAddress": "test1@example.com",
          "id": "example"
        }
  recorded_at: Sat, 08 Sep 2018 11:16:35 GMT
recorded_with: VCR 4.0.0
