$properties: (
  ("has#{$separator}margin", margin),
  ("has#{$separator}padding", padding)
);

@function axisPositions($axis) {
  @if $axis == nth($axes, 1) {
    @return join(nth($positions, 4), nth($positions, 2));
  }
  @else if $axis == nth($axes, 2) {
    @return join(nth($positions, 1), nth($positions, 3));
  }
}

@each $sizeKey, $sizeValue in $spacers {
  @each $propKey, $propValue in $properties {
    .#{$propKey}#{$separator}#{$sizeKey} {
      #{$propValue}: $sizeValue;
    }

    @each $axis in $axes {
      $firstPos: nth(axisPositions($axis), 1);
      $secondPos: nth(axisPositions($axis), 2);
  
      .#{$propKey}#{$separator}#{$axis}#{$separator}#{$sizeKey} {
        #{$propValue}-#{$firstPos}: $sizeValue;
        #{$propValue}-#{$secondPos}: $sizeValue;
      }
    }

    @each $position in $positions {
      .#{$propKey}#{$separator}#{$position}#{$separator}#{$sizeKey} {
        #{$propValue}-#{$position}: $sizeValue;
      }
    }
  }
}
